.main-body-template{
    position: relative;
    top: 8.5rem;
    display: block;
}

.lead.subpage{
    border: 0;
    height: auto;
    justify-content: space-between;
}

.secondary-nav{
    width: 18rem;
    margin-right: 4.5rem;
    margin-top: .5rem
}

.secondary-nav ul{
    list-style: none;
}

.secondary-nav ul li{
    padding: 0.5rem .5rem;
    width: 100%;
}

#current{
    background-color: #eeeeee;
}
.activities-container{
    width: 85%;
    height: auto;
    padding: 0 0 4rem 0;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: 250px;
    justify-content: space-around;
    
}

.image-container.activities{
    height: 15rem;
    margin: .25rem;
}
.imagelink.activities{
    width: 12.5rem;
    height: 10.5rem;
}

.page-links__title{
 background-color: #e54d4d2e;
  border-radius: .5rem;
  padding: .2rem .45rem 
}