.gc_wrapper_event_google_calender{
   margin: 2rem auto;
    width: 80%;
}

.lead.singlecontainer.calender {
 margin-top: 9rem;
}

.lead.singlecontainer.calender h2{
    display: inline-block;
    width: fit-content;
}