.gc_wrapper_event_google_calender{
   margin: 2rem auto;
    width: 80%;
}

.lead.singlecontainer{
 margin-top: 9rem;
 width: fit-content;

}

.lead.singlecontainer h2{
    display: inline-block;
    width: auto;
}