html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}


@font-face {
  font-family: Inter;
  src: url("./fonts/Inter-Medium.woff2") format("woff2"),
    url("./fonts/Inter-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter-regular;
  src: url("./fonts/Inter-Regular.woff2") format("woff2"),
    url("./fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter-italic;
  src: url("./fonts/Inter-BoldItalic.woff2") format("woff2"),
    url("./fonts/Inter-BoldItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --bg-gray: #eee;
  --white-line: #4b4b4b;
  --line: #ababab90;
  --gray: #848792b7;
  --black: #292929;
  --bg-black: #252525;
  --red: #cf0909;
}




body {
  height: 100vh;
  width: 100vw;
  line-height: 1;
  font-size: 62.5%;
  overflow-x: hidden;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



/************* main typography ************** */

h1 {
  font-family: Inter, sans-serif;
  font-size: 3rem;
  display: block;
  color: white;
  font-weight: 800;
}

.title-small{
  font-size: 2rem;
  margin-top: 1rem;
}

@media (max-width: 1020px) {
  .small{
    font-size: 1.35rem;
  }
}

.hero-slider h1 {
  position: absolute;
  left: 10%;
  top: 13rem;
}



h2 {
  font-family: Inter, sans-serif;
  font-size: 1.55rem;
  display: block;
  padding-bottom: 0.2rem;
  margin-bottom: 0.5rem;
  color: var(--black);
  border-bottom: 1px solid var(--line);
  font-weight: 700;
}

.blog-title{
  display: block;
  margin: 1.5rem 0;
  width: fit-content;
}

.container-secondary h2 {
  border-bottom: 1px solid var(--white-line);
}

.heading-text {
  color: white;
  font-size: 2.7rem;
  border: 0;
  padding: 8.5rem 0 3rem;
  position: relative;
  top: 5.5rem;
}

h3 {
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  color: var(--black);
  font-weight: 700;
}

h4 {
  font-family: Inter, sans-serif;
  font-size: 1.05rem;
}

p {
  font-family: Inter-regular, sans-serif;
  line-height: 1.7;
  font-size: 1.05rem;
  padding: .75rem 0;
  color: var(--black);
}

a {
  font-family: Inter-regular, sans-serif;
  line-height: 1.7;
  font-size: 1.1rem;
  color: var(--black);
  text-decoration: none;
}

ul li {
  font-family: Inter-regular, sans-serif;
  line-height: 1.7;
  color: var(--black);
}

/* hamburger cross icon */

#nav-icon1 {
  display: none;
  width: 28px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  top: 0.35rem;
  z-index: 10000;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--black);
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 8px;
}

#nav-icon1 span:nth-child(3) {
  top: 16px;
}

#nav-icon1.open span:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

@media (max-width: 1020px) {
  #nav-icon1 {
    display: block;
  }
}

#nav-icon1.open span:nth-child(3) {
  top: 8px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* end of hambruger cross icon */

/* main header */
#header-container {
  background-color: var(--bg-gray);
  padding: 0.5rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  transition: 0.8s;
  z-index: 5000;
  opacity: 1;
}

#header-container.light{
  opacity: 0.95
}

#header-container.small {
  height: 4rem;
  padding: 0;
}

.lead-header {
  padding: 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#logo img{
  height: 70px;
  width: 338px;
  transition: 0.8s;
}

#logo.small  img{
  width: 291px;
  height: 60px;
}

@media (max-width: 1020px) {
  #logo img {
    width: 291px;
    height: 60px;
  }
}

/* common links */
.common-container {
  position: relative;
  width: 100%;
  top: 0;
  transition: 1s ease-in-out;

}

#commonlinks-cont.common-container.vanish {
  display: none;
}



.common-links-nav {
  height: 1.5rem;
  border-bottom: 1px solid var(--bg-gray);
  padding: 0 10%;
}

.common-links-nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9rem;
  padding: 0;
}

.common-links-nav ul li {
  font-size: 0.8rem;
  padding: 0;
  margin-left: 1rem;
}

.common-links-nav ul li a {
  font-size: 0.8rem;
  padding: 0;
  margin-left: 1rem;
}


/* main navigation */

.main-nav {
  transition: 1s;
  height: auto;
}

.main-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  width: 22rem;
}

.main-nav ul li {
  margin: 1rem 0;
  padding-bottom: .2rem;
  font-size: 1rem; 
  height: 2.2rem;
}

.menu-item.current-menu-item::after{
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: var(--red);
  transition: width .2s;

}

.main-nav ul li::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: var(--red);
  transition: width .2s;
}

.main-nav ul li:hover::after {
  width: 100%;
}


.main-nav ul li a {
  font-size: 1rem;
}

@media (max-width: 1020px) {
  .main-nav {
    height: 0;
    width: 0;
  }

  .main-nav ul li {
    display: none;
  }
}

/* mobile nav */
.mobile-nav {
  height: 0;
  position: absolute;
  overflow: hidden;
  top: 0;
  width: 45%;
  right: -300px;
  background-color: var(--bg-gray);
  transition: 0.2s;
}

.mobile-nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
  margin-left: 4rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.mobile-nav ul li {
  display: block;
  border-bottom: 1px solid var(--gray);
  margin-right: 4rem;
  font-size: 1.4rem;
}

.mobile-nav.open {
  height: 100%;
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  width: 45%;
  z-index: 1501;
  transition: 0.2s;
}

@media (min-width: 1020px) {
  .mobile-nav.open {
    right: -900px;
    position: absolute;
    overflow: hidden;
    display: none;
  }
}

/* main body container */
.main-body {
  position: relative;
  top: 6.3rem;
}

.carousel {
  position: relative;
  top: 5.95rem;
  border-bottom: 4px solid var(--red);
}
@media (max-width: 768px) {
  .carousel {
    top: 5.95rem;
  }
}

.carousel-cell {
  width: 100%;
  height: 37rem;
  background-image: linear-gradient(
      49deg,
      rgba(1, 0, 21, 0.328) 0%,
      rgba(144, 144, 159, 0.067) 44%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("images/wsw1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  /* background: rgb(2,0,36); */
}

.carousel-cell h1 {
  position: relative;
  top: 22rem;
  left: 10%;
}

@media (max-width: 1020px) {
  .carousel-cell h1 {
    font-size: 2.4rem;
  }
}

@media (max-width: 768px) {
  .carousel-cell {
    height: 19rem;
    font-size: 1.75rem;
    top: 12rem;
    line-height: 1.2;
  }
  
}

.flickity-prev-next-button {
  display: none;
}

.flickity-page-dots {
  bottom: 25px;
}

.flickity-page-dots .dot {
  width: 15px;
  height: 15px;
  background: #eee;
}

/* lead container */

.lead {
  display: flex;
  flex-direction: row;
  padding: 2.5rem 10% 4rem 10%;
}

.container-club {
  padding-right: 2rem;
  width: 50%;
}

.container-aims {
  padding-left: 2rem;
  width: 50%;
}

.container-images {
  border: 0;
  display: flex;
  flex-direction: row;
  margin: 0 0 5.5rem;
  width: 60%;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 1020px) {
  .container-images {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    border: 0;
    margin-top: 4.5rem;
  }
}

.image-container {
  margin-bottom: 2rem;
}
.image-container h3 {
  padding: 0.4rem 0;
}

@media (max-width: 1020px) {
  .container-club {
    width: 100%;
    padding-bottom: 3.5rem;
  }
  .container-aims {
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 1020px) {
  .lead article {
    margin-bottom: 2rem;
  }
}

/* //////////////////// list for our aims styling //////////// */
.list-intro {
  list-style: none;
}

.list-intro li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.list-intro h3 {
  font-size: 1.2rem;
}

.list-intro p {
  padding-top: 0;
}

.list-intro li img {
  min-width: 4rem;
}

/* images for aims */
.bike {
  height: 36px;
  filter: invert(7%) sepia(85%) saturate(7352%) hue-rotate(2deg)
    brightness(119%) contrast(109%);
}

.trophy {
  height: 40px;
  filter: invert(7%) sepia(85%) saturate(7352%) hue-rotate(2deg)
    brightness(119%) contrast(109%);
}

.community {
  height: 44px;

  filter: invert(7%) sepia(85%) saturate(7352%) hue-rotate(2deg)
    brightness(119%) contrast(109%);
}

/* ///////////////           end of our aims styles  ////////////////////////////////////// */

/* banner styles */

.banner {
  position: absolute;
  top: 3.5rem;
  width: 100%;
  transition: 0.6s;
  height: 38.5rem;
  background-position: center 3.5rem; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.banner h2 {
  position: absolute;
  top: 28.5rem;
  left: 10%;
  height: 10rem;
  width: 55rem;
  border: 0;
  color: white;
  font-size: 2.9rem;
}

@media (max-width: 1020px) {
  .banner h2 {
    font-size: 2.1rem;
  }
}

@media (max-width: 768px) {
  .banner {
    height: 15rem;
  }
  .banner h2 {
    font-size: 1.6rem;
  }
}

/* secondary container */

.container-secondary h2 {
  color: white;
}

.container-secondary p {
  color: white;
}

.feature-item {
  padding: 1rem 0;
}

.feature-item h3 {
  font-weight: 700;
}

.fa-chevron-right {
  font-size: 0.7rem;
  padding-right: 0;
  margin-right: 0;

  transition: 0.3s;
}
.container-chevron {
  display: inline-block;
  transition: 0.2s;
  position: relative;
  bottom: 0.05rem;
  /* margin-bottom: .4rem; */
}
.container-chevron.move {
  transform: translateX(0.3rem);
}

.container-secondary li {
  list-style: none;
  color: var(--black);
}
.container-calender {
  border-right: 1px solid var(--line);
  padding-right: 3.5rem;
  width: 29%;
  height: fit-content;
  display: inline-block;
}

@media (max-width: 1020px) {
  .container-calender {
    width: 100%;
    padding: 0;
    border-right: 0;
  }
}

.container-calender p {
  padding: 0;
  display: block;
}

.container-calender h3 {
  display: inline-block;
}

.container-calender h3:hover {
  color: var(--red);
}

.container-calender ul li {
  list-style: none;
  margin: 2rem 0;
}

.container-calender ul li a {
  text-decoration: none;
}

.container-calender h3:hover .container-calender h3:focus {
  color: var(--red);
}

.container-calender li::before {
  content: url("images/cal1.svg");
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-right: 10px;
  z-index: 5;
}



.container-news h3 {
  display: block;
  font-size: 1.2rem;
  color: white;
  padding-bottom: .75rem;
}

.container-news p {
  padding: 0;
}

.container-news a {
  color: white;
  width: 100%;
  display: block;
  padding: 0;
}

/* join button */

.button-container {
  margin-top: 0.5rem;
}

.join {
  border-radius: 0.5rem;
  padding: 0.7rem 1.9rem;
  width: fit-content;
  background-color: var(--red);
  margin-top: 2rem;
  font-size: 1.1rem;
  color: #fff;
  transition: 0.5s;
  text-decoration: none;
}

.join:hover  {
  background-color: #000000c7;
  cursor: pointer;
}


.join:focus  {
  background-color: #000000c7;
  cursor: pointer;
}


.join a {
  color: white;
}

/* containers */

@media only screen and (max-width: 1020px) {
  .lead {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .lead article {
    width: 100%;
    padding: 0rem;
  }
}

/* secondary container */
.container-secondary {
  background: var(--bg-black);

  padding: 4.5rem 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 1020px) {
  .container-secondary {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container-secondary .container-news {
    width: 100%;
    padding: 0rem;
  }
}

/* third container for home page */

.container-third {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 4.5rem 10%;
  justify-content: space-between;
}

.imagelink {
  width: 19rem;
  height: 17rem;
  margin: auto;
  overflow: hidden;
}

@media only screen and (max-width: 1020px) {
  .imagelink {
    width: 19rem;
    height: 19rem;
  }
}

@media only screen and (max-width: 768px) {
  .imagelink {
    width: 14rem;
    height: 14rem;
  }
}

.authorimage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  position: relative;
  transition: all 0.5s;
  width: 100%;
  height: 100%;
}

.cal-information {
  width: 19rem;
  display: block;
  padding-right: 5.5rem;
  border-right: 1px solid var(--line);
  height: fit-content;
}

@media (max-width: 1020px) {
  .cal-information {
    width: 100%;
    padding: 0;
    border: 0;
  }
}

.container-news {
  display: block;
  width: 65%;
  padding-right: 3.5rem;
  /* width: 15rem; */
}

@media only screen and (max-width: 1020px) {
  .container-news {
    width: 100%;
    padding-bottom: 2.5rem;
  }
}

.container-twitter {
  width: 25%;
  border-left: 1px solid var(--white-line);
  padding-left: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container-twitter p {
  font-size: 0.85rem;
}

.container-twitter img {
  float: left;
  height: 29px;

  margin-top: 19px;
  padding-right: 15px;
}

@media only screen and (max-width: 1020px) {
  .container-twitter {
    width: 100%;
    padding: 4.5rem 0 0 0;
    border: 0;
  }
}

/* hidden background until :hover */
.authorimage:before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(208, 24, 21, 0.396);
}

.imagelink:hover .authorimage:before,
.imagelink:focus .authorimage:before {
  display: block;
}

@media only screen and (max-width: 1020px) {
  .imagelink span {
    font-size: 1.3rem;
    margin-top: 6rem;
    line-height: 1.3;
  }
}

.imagelink:hover span,
.imagelink:focus span {
  display: block;
  z-index: 800;
}

.imagelink:hover .authorimage {
  transform: scale(1.2);
  border-radius: 0.8rem;
}

.authorimage.one {
  background-image: url("./images/bike1.jpg");
}

.authorimage.two {
  background-image: url("./images/Cycling_12.jpg");
}

.authorimage.three {
  background-image: url("./images/cycling-race.jpg");
}

.authorimage.four {
  background-image: url("./images/group-ride.jpg");
}

/* mobile navigation */
.navigation {
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}

.navigation.openmob {
  height: 20em;
}

/* footer */

.container-footer {
  height: auto;
  background-color: var(--bg-gray);
}

footer {
  margin: auto;
  padding: 4.5rem 10%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media (max-width: 1020px) {
  footer {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  footer {
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
  }
}

footer nav {
  margin: 0 6rem 0 0;
}

.container-footer h3 {
  border-bottom: 1px solid #1a1a1a;
  display: inline-block;
  padding-right: 3rem;
}

.container-footer ul {
  list-style: none;
  margin-right: 4rem;
}

@media (max-width: 768px) {
  footer nav ul {
    margin-bottom: 4rem;
  }
}

footer nav ul li {
  margin: 1rem 0;
  padding-bottom: 0.2rem;
}

footer nav ul li a {
  color: #1a1a1a;
  font-size: 0.95rem;
  text-decoration: none;
}

.answer-container.visible {
  visibility: visible;
  opacity: 1;
  max-height: 1200px;
  transition: max-height 0.9s ease-in;
}

.fa-arrow-down.rotated {
  transform: rotate(180deg);
}
