
.question-answer{
    padding: .3rem 0;
  }
  
.question-container {
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: .1rem 1.35rem;
    border-top: 2px dotted var(--red);
    border-bottom: 2px dotted var(--red);
  }
  
  
  
  .answer-container {
    background-color: #f6cac98d;
    border-bottom: 2px dotted var(--red);
    padding: 1rem 1.35rem;
    width: 90%;
    visibility: hidden;
  
    max-height: 0;
    transition: max-height 0.9s ease-out;
  }
 
  
  .answer-container.visible{
    visibility: visible;
 
    max-height: 1200px;
    transition: max-height 0.9s ease-in;
 

  } 
 
  
  
  .fa-arrow-down{
    height: 1.3rem;
    transition: .3s;
  }
  
  .fa-arrow-down.rotated{
    transform: rotate(180deg);
  }
  